<a href="https://colab.research.google.com/github/KJS65/Colaboratory/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#2022학년도 1학년 1학기 프로그래밍(파이썬) 수행평가
#한양공업고등학교 1학년 11반 3번 이름 : 김준석

In [ ]:
#1. 변수 사용하기
삼성전자 = 50000
print(삼성전자 * 10)

500000

In [ ]:
#2. 문자열을 정수로 변환
year = "3"
print(int(year),"년",sep="")

3년

In [ ]:
#3. 아래의 문자열에서 '홀'만 출력하세요
string = "홀짝홀짝홀짝"
print(string[0:6:2])

홀홀홀

In [74]:
string = "PYTHON"
print(string[5]+string[4]+string[3]+string[2]+string[1]+string[0])

NOHTYP

In [136]:
#5. movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩 되어 있다.
movie_rank = ["닥터 스트레인지", "스플릿","럭키","배트맨"]
movie_rank.insert(1,"슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [67]:
nums = [1,2,3,4,5,6,7,8,9,10]
print(nums[0:10:2])

[1, 3, 5, 7, 9]

In [148]:
data = [2,4,3,1,5,10,9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [147]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

text = "이름: {} 나이: {}"
print(text.format(name1, age1))
print(text.format(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13